#togglePassword {
    background-color: transparent;
    border: none;
    padding-right: 10px;
    margin: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#togglePassword:hover {
    background-color: transparent; /* Ensure background does not change */
}

#eyeIcon {
    color: #333333; /* Ensure icon color is visible */
}

#eyeIcon:hover {
    color: var(--main-green); /* Ensure icon color does not change */
}