<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Welcome, <%= user.username %></p>
    <a href="/profile">Profile</a> | <a href="/post_game">Post Game</a> | <a href="/my_hosted_games">My Hosted Games</a> | <a href="/notifications">Notifications</a>
</body>
</html>